<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCd6FtJghS_s_jLtQTfYIVwRScpWq4udZk</string>
	<key>GCM_SENDER_ID</key>
	<string>751841220436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.woofurbetaapp</string>
	<key>PROJECT_ID</key>
	<string>woo-fur-beta-app-9nht1k</string>
	<key>STORAGE_BUCKET</key>
	<string>woo-fur-beta-app-9nht1k.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751841220436:ios:02754f089d15f107b91ac1</string>
</dict>
</plist>